<title>{{ book.title}}</title>
<h1>{{ book.title}}</h1>
<!-- characters list-->
{% if book %}
<form action="/books" method="POST">
<input type="hidden" name="id" value="{{ book.id}}">
    <ul>
    {% for character in book.characters %}
        <li> {{ character.name }} - 
        <select name="role-{{ character.name }}"> 
        {% for role in roles %}
            <option value="{{ role }}"{% if role == "No role"%} selected{% endif %}> {{ role }} </option>
        {% endfor %}
        </select>
    {% endfor %}
    </ul>
    
    <br>
    <input type="submit" value="Annotate">
</form>
{% endif %}

{% if books %}
    <ul>
    {% for book_item in books %}
    <li> <a href="/books?book_id={{ book_item.id }}">{{ book_item.title }}</a>
    {% endfor %}
{% endif %}