<title>{{ book.title}}</title>
<h1>{{ book.title}}</h1>
<!-- characters list-->
{% if book %}
<h2> Annotations</h2>
<form action="/books/{{ book.id}}" method="POST">
<input type="hidden" name="id" value="{{ book.id}}">
    <ul>
    {% for character in book.characters %}
        <li> {{ character.name }} - 
        <select name="role-{{ character.name }}"> 
        {% for role in roles %}
            {% if role == "Unknown" and character.role is none%}
                <option value="{{ role }}" selected> {{ role }} </option>
            {% else %}
                <option value="{{ role }}"{% if role == character.role %} selected{% endif %}> {{ role }} </option>
            {% endif %}
        {% endfor %}
        </select>
    {% endfor %}
    </ul>
    
    <br>
    <input type="submit" value="Annotate">
</form>

<p><a href="/tasks/{{ book.id}}">Annotate paragraphs of this book</a></p>
{% endif %}

{% if books %}
    <ul>
    {% for book_item in books %}
    <li> <a href="/books/{{ book_item.id }}">{{ book_item.title }}</a>
    {% endfor %}
{% endif %}